@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;900&display=swap');

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-around;
  &-column {
    flex-direction: column;
  }
  &-start {
    justify-content: flex-start;
  }
}

.p{
  &-16 {
    padding: 16px;
  }
  &-20 {
    padding: 20px;
  }
}

.py{
  &-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.pb{
  &-6 {
    padding-bottom: 6px;
  }
}

.px{
  &-16 {
    padding-left: 16px;
    padding-right: 16px;
  }

  &-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header {
  border-bottom: 1px solid #efefef;
}
.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  min-height: 80vh;
}

.tower-content {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background-color: #a31a59;
  border-radius: 10px;
  margin: 30px;
  padding: 40px;
  cursor: pointer;
}

.indicator {
  font-size: 18px;
  font-weight: bold;
}

.color {
  &-primary {
    color: #a31a59;
  }
  &-secondary {
    color: #0d808d;
  }
}


nav {
  grid-column: 2 / 3;
  display: flex;
  padding-inline: 20px;
  justify-content: space-between;
  align-items: center;
}

button {
  height: 32px;
  border: none;
  border-radius: 4px;
  padding-inline: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: 250ms ease;
}

.btn {
  background-color: #1b30b7;
  color: #fff;
}

.btn:hover {
  background-color: #142172;
}

header {
  grid-column: 2 / 3;
  border-bottom: 1px solid #dedede;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}
