/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-around;
  &-column {
    flex-direction: column;
  }
}

.p- {
  &16 {
    padding: 16px;
  }

  &20 {
    padding: 20px;
  }
}

.py- {
  &16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.pb- {
  &6 {
    padding-bottom: 6px;
  }
}

.px- {
  &16 {
    padding-left: 16px;
    padding-right: 16px;
  }

  &20 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}
